* {
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	margin: 10px auto;
	width: 70%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
}

h1 {
	font-size: 2.2em;
}

ul {
	padding-left: 25px;
}

p {
	font-size: 1.2em;
	line-height: 1.2em;
	color: #333;
}

footer {
	border-top: 1px solid black;
	color: #999;
	font-size: .8em;
	margin-top: 20px;
}

.mainMenu {
	padding-left: 10px;
}

.mainMenu a {
	color: #999;
	font-size: 1.2em;
}

.mainMenu ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

.mainMenu ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

.currentMenu {
	color: black !important;
}

.home {
	display: grid;
	grid-gap: 20px;
}

.home div {
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
}

.home div h1 {
	color: #21293d;
}

.home div h1::before {
	content: "";
	display: inline-block;
	height: 28px;
	width: 10px;
	background-color: #ff780a;
	transform: skew(-21deg, 0);
	margin-right: 10px;
}

.home div ul li {
	font-size: 1.2em;
	line-height: 1.4em;
}

.logo {
	/* background-color: yellow; */
	align-items: center;
	background: url(../gfx/logo.png);
	background-size: 100% 400%;
	border: 2px solid black;
	height: auto;
	display: flex;
	font-family: Verdana;
	font-size: 1.1em;
	font-style: italic;
	padding: 20px;
	width: auto;
}

.logo a {
	color: black;
	font-size: 1.2em;
}

.logo>img {
	height: 70px;
	width: auto;
}