* {
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.mainContainer {
	margin: 10px auto;
	max-width: 1200px;
	width: 70%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s ease;
}

a:hover {
	/* border-bottom: 2px solid black; */
	color: #21293d !important;
	text-decoration: underline;
	transition: 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0;
}

h1 {
	font-size: 2.2em;
}

ul {
	padding-left: 25px;
}

p {
	font-size: 1.2em;
	line-height: 1.2em;
	color: #333;
}

footer {
	/* border-top: 3px solid black; */
	color: #999;
	font-size: .8em;
	margin-top: 20px;
}

footer ul li {
	text-align: right;
}

.mainMenu {
	padding-left: 10px;
}

.mainMenu a {
	color: #999;
	font-size: 1.2em;
}

.mainMenu ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

.mainMenu ul li {
	display: inline;
	margin-right: 20px;
}

.currentMenu {
	/* border-bottom: 2px solid black; */
	color: #21293d !important;
	transition: 0.3s ease;
}

.home {
	display: grid;
	grid-gap: 20px;
}

.home div {
	animation-duration: 0.8s;
	animation-name: fadein;
	background: white;
	border-left: 3px solid #21293d;
	/* border-radius: 10px; */
	padding: 20px;
	transition: 0.3s ease;
}

.home div:hover {
	border-left: 3px solid #ff780a;
	transition: 0.3s ease;
}

.home div h1 {
	color: #21293d;
}

.home div h1::before {
	content: "";
	display: inline-block;
	height: 28px;
	width: 6px;
	background-color: #ff780a;
	transform: skew(-21deg, 0);
	margin-right: 10px;
}

.home div ul li {
	font-size: 1.2em;
	line-height: 1.4em;
}

.logo {
	background-color: white;
	align-items: center;
	/* background: url(../gfx/logo.png); */
	background-size: 100% 400%;
	border-left: 3px solid #21293d;
	height: auto;
	display: flex;
	font-family: Verdana;
	font-size: 1.1em;
	font-style: italic;
	padding: 5px 0px;
	transition: 0.3s ease;
	width: auto;
}

.logo:hover {
	border-left: 3px solid #ff780a;
	transition: 0.3s ease;
}

.logo a {
	color: #21293d;
	font-size: 1.2em;
}

.logo img {
	height: 70px;
	width: auto;
}

/* animations */

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}