body {
    background-color: #EEEEEE;
    font-family: sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.container {
    background-image: url('https://images8.alphacoders.com/632/thumb-1920-632051.png');
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 590px;
    padding: 30px;
    width: 1100px;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.title h1 {
    color: white;
    font-size: 60px;
}

.charNames {
    display: flex;
}

.charNames div {
    color: white;
    height: 40px;
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.characters {
    display: flex;
}

.characters div {
    border-bottom: 3px black solid;
    height: 300px;
    width: 50%;
}

.char1 {
    background-image: url('img/jin.png');
    background-position: 40px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.char2 {
    background-image: url('img/kaz.png');
    background-position: 90px 0px;
    background-size: 70%;
    background-repeat: no-repeat;
}

.paul {
    background-image: url('img/paul.png');
    background-position: 100px 0px;
    background-size: 80%;
    background-repeat: no-repeat;
}

.king {
    background-image: url('img/king.png');
    background-position: 30px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.charList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charList ul a {
    background-image: url('https://cdn1.iconfinder.com/data/icons/web-interface-part-2/32/square-question-mark-512.png');
    background-size: cover;
    border: 2px black solid;
    border-radius: 4px;
    margin: 0px 0px 10px 10px;
    height: 50px;
    width: 50px;
}

.charList ul a:nth-child(1) {
    background-image: url('https://tekken7combo.kagewebsite.com/tpl/img/char/jin.jpg');
    background-size: cover;
}


.charList ul a:nth-child(2) {
    background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/GB/en/999/EP0700-CUSA06014_00-AV00000000000009/1584963561000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000 ');
    background-size: cover;
}

.charList ul a:nth-child(3) {
    background-image: url('https://tekken7combo.kagewebsite.com/tpl/img/char/king.jpg');
    background-size: cover;
}

.charList ul a:hover {
    border: 2px red solid;
}

.selected {
    border: 2px solid red !important;
}