h1, h2, h3, h4, h5 {
    margin: 0px;
}

li {
    list-style: none;
}

.container {
    background: url('https://cutewallpaper.org/21/hd-thunderstorm-wallpaper/Wallpaper-4k-Thunderstorm-5k-4k-wallpapers-5k-wallpapers-.jpg') 100% 100%;
    margin: 10px auto;
    height: 900px;
    width: 80%;
}

.tekken h1 {
    color: white;
    font-size: 100px;
    padding-top: 20px;
    text-align: center;
}

.characters {
    display: flex;
    flex-wrap: wrap;
}

.char1 {
    background-image: url('jin.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -160px 0px;
}

.char2 {
    background-image: url('kaz.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 330px 0px;
}

.characters div {
    /* background: yellow; */
    border-bottom: 4px solid black;
    height: 450px;
    width: 50%;
}

.charlist ul {
    display: flex;
    flex-wrap: wrap;
}

.charlist ul li {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/1200px-Blue_question_mark_icon.svg.png');
    background-size: 100%;;
    border: 2px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

.charlist ul li:nth-child(1) {
    background: url('https://pbs.twimg.com/profile_images/677377921007374336/ckLLP4_b_400x400.jpg');
    background-size: 100%;
}

.charlist ul li:hover {
    border: 2px solid red;
}


