/* SLIDER */

.compare {
  border-radius: 5px;
  height: 73.5vw;
  margin: 20px auto;
  max-height: 750px;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.compare figure {
  background-image: url(../images/warsztaty/compare/1a.jpg);
  background-size: cover;
  font-size: 0;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

#compare {
  background-image: url(../images/warsztaty/compare/1b.jpg);
  background-size: cover;
  bottom: 0;
  border-right: 5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 10px 0 15px -13px #000;
  height: 100%;
  max-width: 98.6%;
  min-width: 0.6%;
  overflow: visible;
  position: absolute;
  width: 50%;
  animation: first 2s 1 normal ease-in-out 0.1s;
}

input#slider {
  border: none;
  background: transparent;
  cursor: col-resize;
  height: 100vw;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  top: -100vw;
  width: 100%;
  -webkit-appearance: none;
}

input#slider::-webkit-slider-thumb {
  background-color: transparent;
  height: 1px;
  width: 1px;
  -webkit-appearance: none;
}

#compare::before {
  background: url(../images/comparision.png) no-repeat scroll 0 center transparent;
  background-size: contain;
  content: " ";
  float: right;
  height: 100%;
  margin-right: -34px;
  position: relative;
  top: 0;
  width: 64px;
}