/* .container {
  max-width: initial;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.gallery>a {
  height: 195px;
}

.gallery img {
  /* border-radius: 5px; */
  height: 195px;
  width: 300px;
  margin: 0px;
  opacity: 0.8;
  /* transition: 0.3s ease; */
}

.gallery img:hover {
  /* border-radius: 5px; */
  opacity: 1;
  text-shadow: 0 0 15px black, 0 0 10px black;
  /* transform: scale(1.1); */
}

@media only screen and (max-width: 650px) {
  .gallery>a {
    height: auto;
  }
  .gallery img {
    /* border-radius: 5px; */
    height: auto;
    width: 100%;
    margin: 0px;
    opacity: 0.8;
    /* transition: 0.3s ease; */
  }
}