/* CSS reset */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Sticky Header */

.stickyHeader {
	background-color: black;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
}

/* MAIN CSS Q*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

header {
	background-color: black;
	padding: 8px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}

header>nav>ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

header>nav>ul a {
	color: white;
	font-size: 0.95em;
	padding-bottom: 8px;
	text-decoration: none;
	/* text-transform: uppercase; */
}

header>nav>ul a:hover {
	border-bottom: 2px solid white;
}

.currentMenu {
	border-bottom: 2px solid white;
	/* font-weight: bold; */
}

.title {
	font-size: 3.5em;
	font-weight: bold;
	left: 50px;
	line-height: 1;
	position: fixed;
	top: 75px;
	z-index: 900;
}

.title a {
	color: white;
	text-decoration: none;
}

.title1 {
	font-size: 1.8em;
}

.title3 {
	font-size: 0.9em;
	margin-top: 5px;
}

main {
	background-color: white;
	height: auto;
	padding: 10px 0;
	width: 100%;
}

.container {
	animation-duration: 0.8s;
	animation-name: fadein;
	/* background-color: #eeeeee; */
	/* border-radius: 15px; */
	margin: 0 auto;
	min-width: 800px;
	max-width: 1200px;
	padding: 10px;
}

/* Animations */

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}