/* CSS reset */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Sticky Header */

.stickyHeader {
	background-color: black !important;
	opacity: 1;
	position: fixed;
	top: 0;
	transition: 1s ease;
}

/* MAIN CSS Q*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
}

header {
	background-color: black;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}

header>nav>ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

header>nav>ul a {
	color: white;
	text-decoration: none;
}

header>nav>ul a:hover {
	text-decoration: underline;
}

.title {
	font-size: 3em;
	left: 50px;
	position: fixed;
	top: 50px;
	z-index: 900;
}

.title a {
	color: white;
	text-decoration: none;
}

.title1 {
	font-size: 1.8em;
}

main {
	background-color: white;
	min-height: 100vh;
	min-width: 100vw;
	padding-top: 40px;
}

.container {
	background-color: white;
	margin: 10px auto;
	min-width: 800px;
	max-width: 1200px;
}