.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.form-row>.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-control {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #495057;
  height: calc(2.25rem + 2px);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  transition: 0.3s ease;
  width: 100%;
}

.form-control:hover {
  border: 1px solid black;
  transition: 0.3s ease;
}

textarea.form-control {
  height: auto;
  font-family: inherit;
}

.btn {
  background-color: #1d2124;
  border-color: #171a1d;
  border-radius: .3rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.8;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: 0.3s ease;
  width: 100%;
}

.btn:hover {
  opacity: 1;
  transition: 0.3s ease;
}