.intro {
  align-items: center;
  background: white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.intro-text {
  color: black;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  padding: 20px;
}

.hide {
  background: white;
  overflow: hidden;
}

.text {
  border-bottom: 10px solid black;
  display: inline-block;
  transform: translateY(100%);
}

.slider {
  /* background: rgb(97, 105, 109); */
  border-bottom: 15px solid #ff780a;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateY(100%);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .intro-text {
    font-size: 1.6rem;
  }
}