* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f2f7;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}

code {
  background-color: #d1d5da;
  display: inline-block;
  margin: 0.3em 0;
  padding: 0.1em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

img {
  animation: float 6s ease infinite;
}

.article p,
.article ol,
.article ul {
  margin-bottom: 1em;
}

.main-wrapper {
  width: 100%;
}

.main-container {
  margin: 0 auto;
  max-width: 1300px;
  /* min-width: 300px; */
  width: 100%;
}

header {
  background: transparent;
}

header>.main-container {
  display: flex;

}

header>.main-container>.logo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 1.1em;
  font-style: italic;
  height: 80px;
}

header>.main-container>.logo a:hover {
  text-decoration: underline;
}

header>.main-container>nav {
  align-items: center;
  display: flex;
  height: 80px;
}

header img {
  height: 50px;
  margin-right: 10px;
  width: auto;
}

header a {
  color: #21293d;
  font-size: 1.2em;
}

.stickyHeader {
  background-color: #f1f2f7;
  height: auto !important;
  left: 0;
  margin: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  width: 100%;
  z-index: 900;
}

.stickyHeader ul {
  justify-content: flex-end;
}

nav {
  padding: 2px 0;
  transition: 0.3s ease;
}

nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding: 0px;
}

nav ul li {
  padding: 10px;
  margin-left: 30px;
}

nav a {
  color: #555;
  font-size: 1.2em;
}

nav a:hover {
  color: #21293d !important;
  transition: 0.3s ease;
}

.currentMenu {
  color: #21293d;
  font-weight: bold;
  /* font-size: 1.4em; */
  transition: 0.3s ease;
}

.card {
  animation-duration: 0.8s;
  animation-name: fadein;
  background-color: white;
  border: 1px transparent;
  border-left: 3px solid #21293d;
  border-radius: 3px;
  opacity: 0.95;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  /* Funky boxes */
  /* border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; */
}

.card:hover {
  border-left: 3px solid #ff780a;
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); */
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: translateY(-1px);
}

.home {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.article {
  display: grid;
  font-size: 0.8em;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.article a {
  color: royalblue;
}

.home>div {
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.45em;
}

.home>div h1 {
  color: #21293d;
}

.home>div h1::before {
  background-color: #ff780a;
  content: "";
  display: inline-block;
  height: 28px;
  margin-right: 10px;
  transition: 0.3s ease;
  width: 6px;
}

.home>div:hover h1::before {
  transform: skew(-21deg, 0);
  transition: 0.3s ease;
}

.home>div>img {
  backface-visibility: hidden;
  float: right;
  height: auto;
  max-width: 100px;
  opacity: 0.8;
  transform: translateZ(0) scale(1, 1);
  transition: 0.3s ease;
  width: 20%;
}

.home>div:hover>img {
  opacity: 1;
}

.home>div>ul {
  list-style-type: none;
  padding-left: 5px;
}

.home>div>ol {
  list-style-type: decimal;
  padding-left: 5px;
}

.home>div ul li {
  align-items: center;
  display: flex;
}

.home>div ol li {
  display: list-item;
  margin-left: 1.4em;
}

.home>div ul li::before {
  background-color: #000;
  border-radius: 50%;
  content: "";
  height: 6px;
  margin-left: 10px;
  margin-right: 10px;
  width: 6px;
}

.home>div ul li>img,
.home>div ol li>img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  transform: translateZ(0) scale(1, 1);
}

/* .home > div ul li > a,
.home > div ol li > a {
  margin-right: 6px;
} */
.home>div ul li a:hover,
.home>div ol li a:hover {
  text-decoration: underline;
}

/* .angular {
  background: url(/images/angular-logo.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: right 20px top 20px;
} */

footer {
  color: #555;
  font-size: 0.8em;
  font-weight: bold;
  padding: 20px 0;
  text-align: right;
}

/* Utilities */
.badge {
  border-radius: 5px;
  color: white;
  margin: 0 1px;
  font-size: 0.7em;
  padding: 3px 10px;
}

.bgBlue {
  background-color: #1a7dc1;
}

.bgOrange {
  background-color: #ff780a;
}

.bgYellow {
  background-color: #ffcc00;
}

.singleRow {
  display: grid;
  grid-template-columns: 1fr;
}

.doubleRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Animations */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(-1px);
  }

  50% {
    transform: translatey(1px);
  }

  100% {
    transform: translatey(-1px);
  }
}

/* Responsive */
@media screen and (max-width: 800px) {
  .home {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  nav ul li {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */